<div class="row">
    <div class="col-md-12">
        <div class="x_panel tile fixed_height_160">
            <div class="x_content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <img style="width:100%; height:132px;" src="{{carInformation.imgScr}}" />
                            </div>
                            <div class="col-md-8 tile_stats_count">
                                <div class="left"></div>
                                <div class="right">
                                    <h1>{{carInformation.name}}</h1>
                                    <p>
                                        <span ng-repeat="(key, value) in carInformation.parametrs">{{key}} - {{value}}<span ng-if="!$last">, </span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-usd"></i> Average Price</span>
                            <div class="count">{{carInformation.averagePrice.value}}</div>
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{carInformation.averagePrice.difference}} </i> {{carInformation.averagePrice.date}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top"><i class="fa fa-usd"></i> Your Price</span>
                            <div class="count">{{carInformation.dealerPrice.value}}</div>
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{carInformation.dealerPrice.difference}} </i> {{carInformation.dealerPrice.date}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<car-chart></car-chart>
<dealer-competitors></dealer-competitors>
<price-trend></price-trend>
