<div ng-include="'components/toptitles/toptitles.html'"></div>

<!--<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Transaction Summary <small>Weekly progress</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                Current category:
                <ol class="breadcrumb">
                    <li ng-repeat="category in categoryList">
                        <a ng-if="$index != categoryList.length-1" href ng-click="goBack(category)">{{category.name}}</a>
                        <span ng-if="$index == categoryList.length-1">
                            {{category.name}}
                        </span>
                    </li>
                </ol>
                <highchart id="chart0" config="options"></highchart>
            </div>
        </div>
    </div>
</div>-->
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title clearfix">
                <h2>Weekly Summary <small>Activity shares</small></h2>
                <button ng-if="!groupPanel" ng-click="toogleGropPanel(true)" class="btn btn-primary pull-right">Hide GroupPanel</button>
                <button ng-if="groupPanel" ng-click="toogleGropPanel(false)" class="btn btn-primary pull-right">Show GroupPanel</button>
            </div>
            <div class="x_content">
                <div ng-show="!groupPanel" class="row  sample-show-hide" style="margin-bottom:10px;">
                    <div class="col-md-12">
                        <div>
                            <div class="btn-group pull-left">
                                <button ng-click="closeFilter($index) " ng-repeat="filter in filters | orderBy: 'order'" class="btn btn-default ">{{filter.title}} <span class="glyphicon glyphicon-remove "></span></button>
                            </div>
                            <div class="btn-group pull-right " ng-if="deleteFilters.length!=0 ">
                                <div class="btn-group ">
                                    <select class="form-control " ng-model="currentDeleteFilter " ng-options="filter1.title for filter1 in deleteFilters | orderBy: 'order' "></select>
                                </div>
                                <button ng-click="addFilter() " class="btn btn-default "><span class="glyphicon glyphicon-plus "></span> Add Group</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="form-group clearfix">
                                <select class="form-control">
                                    <option>All years</option>
                                    <option>2015</option>
                                    <option>2014</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>All Makes</option>
                                    <option>Buick</option>
                                    <option>Cadilac</option>
                                    <option>GMC</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>All Body Styles</option>
                                    <option>SUV</option>
                                    <option>Coupe</option>
                                    <option>Sedan</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Any price</option>
                                    <option>$36000-38000</option>
                                    <option>$38000-40000</option>
                                    <option>$40000-42000</option>
                                </select>
                            </div>
                            <div class="form-group pull-right">
                                <label for="exampleInputName2">Search</label>
                                <input class="form-control" id="exampleInputName2" placeholder="Name or stock" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table ">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th ng-repeat="filter in filters | orderBy: 'order' ">{{filter.title}}</th>
                            <th>Count</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="group in groups ">
                            <td ng-class="group.color "></td>
                            <td>
                                <span class="glyphicon glyphicon-menu-down " ng-click="showDetailed(group) "></span>
                            </td>
                            <td ng-repeat="filter in filters | orderBy: 'order' ">{{group.key[filter.field]}}</td>
                            <td>{{group.value.length}}</td>
                        </tr>
                        <tr ng-repeat-end=" " ng-hide="!group.isDetailed ">
                            <td colspan="9 ">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>Year</th>
                                            <th>Maker</th>
                                            <th>Model</th>
                                            <th>Body Type</th>
                                            <th>Trim</th>
                                            <th>Drivetrain</th>
                                            <th>Price ($)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="car in group.value ">
                                            <td>{{car.year}}</td>
                                            <td>{{car.make}}</td>
                                            <td>{{car.model}}</td>
                                            <td>{{car.bodyType}}</td>
                                            <td>{{car.styleTrim}}</td>
                                            <td>{{car.drivetrain}}</td>
                                            <td>{{car.dealerAdvertisedPrice | number: 2}}&nbsp;
                                                <span style="color: {{car.amountColor}} ">{{car.amountDifference}}</span>
                                            </td>
                                            <td>
                                                <a ui-sref="car({ id: 1}) " class="btn btn-primary ">Detail</a>
                                            </td>
                                        </tr>
                                </table>
                </table>
            </div>
        </div>
    </div>