<div ng-include="'components/toptitles/toptitles.html'"></div>

<!--<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Transaction Summary <small>Weekly progress</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                Current category:
                <ol class="breadcrumb">
                    <li ng-repeat="category in categoryList">
                        <a ng-if="$index != categoryList.length-1" href ng-click="goBack(category)">{{category.name}}</a>
                        <span ng-if="$index == categoryList.length-1">
                            {{category.name}}
                        </span>
                    </li>
                </ol>
                <highchart id="chart0" config="options"></highchart>
            </div>
        </div>
    </div>
</div>-->
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title clearfix">
                <h2>Weekly Summary</h2>
                <button ng-if="!groupPanel" ng-click="toogleGropPanel(true)" class="btn btn-primary pull-right">Hide GroupPanel</button>
                <button ng-if="groupPanel" ng-click="toogleGropPanel(false)" class="btn btn-primary pull-right">Show GroupPanel</button>
            </div>
            <div class="x_content">
                <div ng-show="!groupPanel" class="row  sample-show-hide" style="margin-bottom:10px;">
                    <div class="col-md-12">
                        <div>
                            <div class="btn-group pull-left">
                                <button ng-click="closeFilter($index) " ng-repeat="filter in filters | orderBy" class="btn btn-default ">{{filter.title}} <span class="glyphicon glyphicon-remove "></span></button>
                            </div>
                            <div class="btn-group pull-right " ng-if="deleteFilters.length!=0 ">
                                <div class="btn-group ">
                                    <select class="form-control " ng-model="currentDeleteFilter " ng-options="filter1.title for filter1 in deleteFilters | orderBy: 'order' "></select>
                                </div>
                                <button ng-click="addFilter() " class="btn btn-default "><span class="glyphicon glyphicon-plus "></span> Add Group</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="form-group clearfix">
                                <select class="form-control" ng-model="selectedYear" ng-options="year for year in years | orderBy">
                                    <option value="" selected>All years</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="selectedMake" ng-options="make for make in makes | orderBy">
                                    <option value="" selected>All Makes</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="selectedModel" ng-options="model for model in models | orderBy">
                                    <option value="" selected>All models</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="selectedBodyType" ng-options="bodyType for bodyType in bodyTypes | orderBy">
                                    <option value="" selected>All Body Styles</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="selectedStyleTrim" ng-options="styleTrim for styleTrim in styleTrims | orderBy">
                                    <option value="" selected>All StyleTrim</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="selectedDrivetrain" ng-options="drivetrain for drivetrain in drivetrains | orderBy">
                                    <option value="" selected>All Drivetrain</option>
                                </select>
                            </div>
                            <div class="form-group pull-right">
                                <label for="exampleInputName2">Search</label>
                                <input class="form-control" id="exampleInputName2" placeholder="Name or stock" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table ">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th ng-repeat="filter in filters | orderBy: 'order' ">{{filter.title}}</th>
                            <th>Count</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="group in groups">
                            <td ng-class="group.color "></td>
                            <td>
                                <span class="glyphicon glyphicon-menu-down " ng-click="showDetailed(group) "></span>
                            </td>
                            <td ng-repeat="filter in filters | orderBy: 'order' ">{{group.key[filter.field]}}</td>
                            <td>{{group.value.length}}</td>
                        </tr>
                        <tr ng-repeat-end=" " ng-hide="!group.isDetailed ">
                            <td colspan="9 ">
                                <div class="car" ng-repeat="car in group.value ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img style="width:100%; height:132px;" ng-src="{{car.imagePath}}" />
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-9 tile_stats_count">
                                                    <div class="left"></div>
                                                    <div class="right">
                                                        <h1>{{car.year}} {{car.make}} {{car.model}}</h1>
                                                        <p>
                                                            <span>Bodytype - {{car.bodyType}}, Trim - {{car.styleTrim}}, Drivetrain - {{car.drivetrain}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 tile_stats_count">
                                                    <div class="left"></div>
                                                    <div class="right">
                                                        <span class="count_top"><i class="fa fa-usd"></i> Your Price</span>
                                                        <div class="count">{{car.price}}</div>
                                                        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{car.amountDifference}} </i> From last Week</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 col-md-offset-9 tile_stats_count text-right">
                                                    <a ui-sref="car({ carId: car.id, stockCarId:car.stockCarId}) " class="btn btn-primary ">Detail</a>
                                                    <a ng-href="{{car.url}}" class="btn btn-primary ">Open</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>