<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-title">
                <h3>Dealers</h3>
            </div>
            <div class="ibox-content">
                <div class="car" ng-repeat="car in filteredCars">
                    <div class="row">
                        <div class="col-md-3">
                            <img style="width:100%; height:132px;" ng-src="{{car.imagePath}}" err-src="./app/img/default-car.gif" />
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-9 tile_stats_count">
                                    <div class="left"></div>
                                    <div class="right">
                                        <h1>{{car.year}} {{car.maker}} {{car.model}}</h1>
                                        <p>
                                            <span>Bodytype - {{car.bodyType}}, Trim - {{car.styleTrim}}, Drivetrain - {{car.drivetrain}}</span>
                                        </p>
                                        <p>Dealer - {{car.dealerName}}<span ng-if="car.dealerLocation">, from {{car.dealerLocation}}</span></p>
                                    </div>
                                </div>
                                <div class="col-md-3 tile_stats_count">
                                    <div class="left"></div>
                                    <div class="right">
                                        <span class="count_top"><i class="fa fa-usd"></i> Price</span>
                                        <div class="count">{{car.price.value}}</div>
                                        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{car.price.difference}} </i> From last Week</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-md-offset-9 tile_stats_count text-right">
                                    <a ng-href="{{car.url}}" class="btn btn-primary ">Open</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <uib-pagination max-size="maxSize" total-items="totalItems" ng-model="currentPage" items-per-page="numPerPage"></uib-pagination>
            </div>
        </div>
    </div>
</div>